{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="card card-primary card-outline mx-auto" style="width: 30rem;">
        <form method="POST" enctype="multipart/form-data" class="form-group">
            <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>
{% endblock %}