{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Articles List{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% if article_list %}
                    {% for article in article_list %}
                        <div class="card mb-4">
                            <a href="{{ article.get_absolute_url }}"><img class="card-img-top"
                                                                          src="{{ article.image.url }}" alt="..."/></a>
                            <div class="card-body">
                                <div class="small text-muted">Posted by <b>{{ article.user.username }}</b>
                                    on <b>{{ article.category }}</b> category
                                </div>
                                <h2 class="card-title h4">{{ article.title }}</h2>
                                <p class="card-text">{{ article.description|slice:":100" }}...</p>
                                <a class="btn btn-primary" href="{{ article.get_absolute_url }}">Read more →</a>
                            </div>
                        </div>
                    {% endfor %}
                    <nav aria-label="Pagination">
                        <hr class="my-0"/>
                        <ul class="pagination justify-content-center my-4">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo; first</a></li>
                                <li class="page-item"><a class="page-link"  href="?page={{ page_obj.previous_page_number }}">⬅ previous</a></li>
                            {% endif %}
                            <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }}
                                of {{ page_obj.paginator.num_pages }}.</a></li>
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next ➡</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% else %}
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            Oops no content !
                            Sorry !
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Filters</div>
                    <div class="card-body">
                        <form method="get" enctype="multipart/form-data" class="form-group">
                            <div class="card-body">
                                {% csrf_token %}
                                {% bootstrap_form filter.form %}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">Go !</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}